@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
  /* background: linear-gradient(#1c0522,#000000);*/
   /* background: #1c0522;*/
   
   
   
    overflow-x: hidden;
    
    min-height: 75vh;
}
section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 4rem;
}

.container {
    background: linear-gradient(to right, #1c0522eb 51%,transparent 100%);
    background-size: cover;
    padding: 100px 40px;
    text-align: center;
    color: white;
}
.container p {
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
  }
  .email-box{
    height: 40px;
    justify-content: center;
    display: flex; /*its better to use inline-flex*/
  }
  .email-box i{
    background: #2f3542;
    width: 40px;
    line-height: 40px;
  }
  .tbox,.btn{
    border: none;
    outline: none;
  }
  .tbox{
    width: 0px;
    transition: 0.6s;
  }
  .email-box:hover > .tbox,.tbox:focus{
    width: 260px;
    padding: 0 10px;
  }
  .btn{
    background: #ae3542;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
  }

/*header {
    background: #000 url(/images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg) top center / cover; 
    text-align: center;
    padding: 150px 0;
    color: #fff;
    border-bottom: 2px solid #89fcf3;
    box-shadow: 0 0 10px #89fcf3;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    position: absolute;
}*/
header
{
    position: absolute;
    margin-top: 15px;
    top: 0;
    margin-bottom: 0.5em;
    left: 45px;
    width: 90%;
    padding: 30px 100ps;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    
    
}
.home{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
    background:linear-gradient(to right, #1c0522eb 51%,transparent 100%);
    box-shadow: 0 .5rem 1rem rgb(251 60 255);
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top:1.5em;
    margin-bottom:0.5em;
    margin-left:0.5em;
    margin-right:0.5em;
}
.home .content span{
    
    color:var(--red);
    font-size: 2.5rem;
}

.home .content h3{
    color:#ffffff;
    font-size: 5rem;
}
.home .content h2{
    text-align: center;
    color:#ffffff;
    font-size: 2rem;
}

.home .content p{
    color:#ffffff;
    font-size: 0.7rem;
    padding:1rem 0;
    text-align: justify;
}
.logo
{
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
   display: flex;
   justify-content: center;
   align-items: center; 
}
header ul li
{
    list-style: none;
    margin-left:20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color:#ffffff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background:white;
    box-shadow: 0 .5rem 1rem rgb(26 6 45);
    color:#2b1055;
}
#text
{
    position: absolute;
    right: -1555px;
    color: #ffffff;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ffffff;
    box-shadow: 0 .5rem 1rem rgb(26 6 45);
    color: #2b1055;
    font-size:1.5em;
    z-index: 9;
    transform:translateY(100px)
}
form {
    background: transparent;
    border-radius: 12px;
    padding: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    top: 35px;
    font-size: 20px;
    position: relative;
    /* box-shadow: 0 .5rem 1rem #2b1055; */
}

form input {
    display: block;
    width: 100%;
    border-radius: 12px;
    border: none;
    height: 40px;
    padding: 15px;
    background: #ffffff;
    color: black;
    transition: 0.5s;
}

form input:focus {
    outline: none;
    box-shadow: 0px 10px 30px -20px #2b1055;
    filter: contrast(85%)
}

form label {
    color: #CCCDCF;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
}

form .subscribe {
    max-width: 300px;
    height: auto;
    color: white;
    background: #c62828;
    /*border: #c62828 2px solid;*/
    border-radius: 45px;
    font-weight: bold;
    line-height: normal;
    margin: 0 auto -80px;
}

form .subscribe:hover {
    background:#2b1055;
    color: #ffffff;
    cursor: pointer;

}

/* Mailchimp CSS */

form .mc-field-group {
    margin-bottom: 35px;
}

form .indicates-required {
    color: #CCCDCF;
    font-size: 0.5em;
    margin: 35px 0;
    text-align: center;
}

form input + .mce_inline_error {
    display: inline-block;
    font-size: 0.5em;
    position: relative;
}

form input + .mce_inline_error:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #6B0505;
    position: absolute;
    top: -10px;
}

form #mce-success-response {
    background: green;
    padding: 25px;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    transition: 1s;
    animation: response 1s forwards;
}

form #mce-error-response {
    background: #6B0505;
    padding: 25px;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    transition: 1s;
    animation: response 1s forwards;
}
form #mce-error-response a {
    color: #fff;
}

form label .asterisk {
    color: #89fcf3;
    font-size: 0.5em;
    vertical-align: super;
}

@keyframes response {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*.news::before {
    content:"";
    width:inherit;
    height: 42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3),white);
    z-index: 1;
  }
  opacity: 0.5;*/
  .scroll-top{
    position: fixed;
    bottom:30px; right:2rem;
    z-index: 10000;
    display: none;
    scroll-behavior: smooth;
}

.scroll-top img{
    height: 7rem;
}
.btn2{
    display: inline-block;
    
    padding:1rem 4rem;
    text-decoration: none;
    border-radius: 5rem;
    background:#ff4e5b;
    box-shadow: 0 .5rem 1rem rgb(26 6 45);
    color:#fff;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1rem;
}

.btn2::before{
    content:'';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background:#2b1055;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition:.3s linear;
}

.btn2:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background: #000;
}

html::-webkit-scrollbar-thumb{
    background: #7597de;
}
footer{
    overflow-y: hidden;
    position: flex;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}
.footer_content{
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer_content h3{
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: capitalize;
    line-height: 2rem;
}
.footer_content p{
    font-size: 13px;
    font-weight: lighter;
    
    line-height: 2rem;
}
#bk {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }